:root{
 --main:#010101;  
 --core:#ec1c24  ;
}


@font-face {
    font-family: Usama;
    src: url();
}


body{
    margin: 0;
    padding: 0;
   
}

.container-fluid{
    height: 9rem;
    background-color: white;
}

.d-flex{
    /* padding-left: 10rem; */
    width: 65em;
}

#navbar  {
  background-color: var(--main);
    height: 12vh;
    /* text-align: center; */
    justify-content: center;
}

.sub-navigation{
    display: flex;
    align-items: center;
}

.navbar-nav  {
    display: flex;
    flex-direction: column;
    
    /* justify-content: flex-end; */
    align-items: flex-end;
    color: white !important;
}

#sub_nav {
    text-align: center;
  /* Set your background color here */
    color: #d3d3d3; /* Set your ash white color here */
    padding: 10px 0;
}


.nav-link{
 
    display: flex;
    align-content: center;
        justify-content: center;
    
}

#nav_containeer {
    display: flex;
    justify-content: center;
}

.navbar-nav {
    display: flex;
}

.navbar-nav a {
    color: inherit;
    text-decoration: none;
    padding: 0 15px;
}

.navbar-nav a:hover {
    color: #fff; /* Set the color for hover state */
}

.my-slider-progress {
    background: #ccc;
  }
  
  .my-slider-progress-bar {
    background: greenyellow;
    height: 2px;
    transition: width 400ms ease;
    width: 0;
  }

  
.cards {
    margin-top: 5rem   ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-image {
    position: relative;
    margin-bottom: 20px; 
        background-color: #f0f0f0; 
    padding: 10px; 
}

.card-image img {
    max-width: 100%;
    height: auto;
}

.card_img{
    margin-bottom: 5em;   
    width: 27rem;
}

.button:hover{
    color: #fff;
    background-color: rgb(169, 169, 169);

}

.button {
    position: absolute;
    bottom: 10px; /* Adjust the distance from the bottom */
    left: 50%;
    width: 10em;
    transform: translateX(-50%);
    background-color: #dc2626;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.sub-section{
    display:grid;
    margin-top: 6rem;
}

.heading{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
#potting-mix{
  margin-top: 2%;
}
#mulch-compost{
  margin-top: 2%;
}
#mulch{
  margin-top: 2%; 
}
#posts{
  margin-top: 2%;
  margin-left: 20%;
}
#hardware{
  margin-top: 2%;
  margin-left: 20%;
}
#gifts{
  margin-top: 2%;
  padding-left: 20%;
}