@font-face {
    font-family: d;
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,400;1,500&display=swap');
  }

body {
    margin: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
} 

#mainNav{
    background-color: #111827 !important;
    color: white !important;
}

#navbarmain{
    padding: 30px;
}

#navbarNav ul li{
    padding:5px;
}
#navbarNav ul li a{
    font-size: 24px;
    color: white;
}
#navbarNav ul li a:hover{
    background-color: red;
    border-radius: 10px;
    color: white;
}
.btn-custom{
    background-color: red!important;
    color:white !important;
    
}

.dropdown-menu{
    background-color: #111827!important;
    color: black;
}

.footer  {
    background-color: #111827;
    color: white;
}


.footer  a{
    color: white!important;
}


#BreadCrumbs{
display: flex;
justify-content: flex-end;
margin-top: 2em;
}

    #detail-card{
        margin-top: -18rem;
    }
   
.lead{
    margin-left: 3rem;
}

.description{
    background-color: #f2f2f2;
}

.description > h6 , .video h6 {
    font-weight: bolder;
}
.video {
 background-color:#f2f2f2;   
}
.description > h6:hover{
    text-decoration: underline;
}

.quantity-box {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.quantity-btn {
    cursor: pointer;
    background-color:red;
    color: #fff;
    border: none;
    padding: 8px 12px;
    font-size: 1rem;
}

.quantity-indicator {
    flex: 1;
    text-align: center;
    font-size: 1rem;
}



@media (min-width: 768px) {
    .quantity-btn {
        padding: 10px 16px;
        font-size: 1.2rem;
    }

    .quantity-indicator {
        font-size: 1.2rem;
    }
}

@media (max-width: 767px) {
    #detail-card{
        margin-top: 0; 
    }
}